spring:
  application:
    name: order-service
  threads.virtual.enabled: false
  sql.init.mode: always
  jpa:
    defer-datasource-initialization: true
    hibernate.ddl-auto: create-drop
    properties.hibernate.dialect: org.hibernate.dialect.MySQLDialect
  datasource:
    url: jdbc:mysql://mysql-db:3306/orderservicedb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: orderdbuser
    password: cokgizlisifre

  config.import: optional:configserver:http://config-server:8888
eureka:
  client.serviceUrl.defaultZone: http://eureka-server:8761/eureka/
management:
  endpoints.web.exposure.include: health,info,circuitbreakers
  tracing.sampling.probability: 1.0
  zipkin.tracing.endpoint: http://zipkin-server:9411/api/v2/spans

logging:
  structured.format.console: ecs
  pattern.correlation: "[%X{traceId:-},%X{spanId:-}]"



